3 JavaScript/Aufgaben/Picasso.ai/Dify-Workflow - Bildgenerierung.yml
app:
  description: 'Beispiel: KI-Bildgenerierung – keine Schaubilder, das macht man eher
    mit Code-Generierung und Ausführung des Codes in einer Sandbox.'
  icon: lower_left_paintbrush
  icon_background: '#D1E9FF'
  mode: advanced-chat
  name: Beispiel - Bildgenerierung
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_tool:0.1.1@37404e4c35dadcdabba40e37687aed251e9585075f7fedb57dff2d60505968b8
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1760638943729-llm
      selected: false
      source: '1760638943729'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: llm-source-1760639714467-target
      source: llm
      sourceHandle: source
      target: '1760639714467'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1760639714467-source-answer-target
      source: '1760639714467'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 53
      id: '1760638943729'
      position:
        x: 30
        y: 251.5
      positionAbsolute:
        x: 30
        y: 251.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 1
          mode: chat
          name: gpt-4.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: bd22da14-8cd3-4749-9b17-90e6309afad5
          role: system
          text: Du bist ein meisterhafter Künstler, der es versteht, aus den Anfragen
            des Benutzers hochwertige und ästhetisch ansprechende Bilder zu erstellen.
            Nimm daher die folgende Anfrage und beschreibe ausführlich, wie das dazu
            passende Bild aussehen soll, damit es im nächsten Schritt mit einem KI-Bildgenerator
            erzeugt werden kann. Vermeide Kitsch und versuche, immer interessante
            Motive zu erstellen.
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: llm
      position:
        x: 309.3062520502742
        y: 251.5
      positionAbsolute:
        x: 309.3062520502742
        y: 251.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#llm.text#}}


          {{#1760639714467.files#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 121
      id: answer
      position:
        x: 875.4315582288081
        y: 251.5
      positionAbsolute:
        x: 875.4315582288081
        y: 251.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Detailed description of the image you want to generate (max 32000
              chars). Check the official OpenAI documentation for GPT Image.
            ja_JP: Detailed description of the image you want to generate (max 32000
              chars). Check the official OpenAI documentation for GPT Image.
            pt_BR: Detailed description of the image you want to generate (max 32000
              chars). Check the official OpenAI documentation for GPT Image.
            zh_Hans: 您想要生成的图像的详细描述（最多 32000 字符）。请查看 GPT Image 的 OpenAI 官方文档。
          label:
            en_US: Prompt
            ja_JP: Prompt
            pt_BR: Prompt
            zh_Hans: 提示词
          llm_description: Detailed image prompt for GPT Image (max 32000 characters).
            Describe the desired image clearly.
          max: null
          min: null
          name: prompt
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: auto
          form: form
          human_description:
            en_US: Select the image size
            ja_JP: Select the image size
            pt_BR: Select the image size
            zh_Hans: 选择图像大小
          label:
            en_US: Image size
            ja_JP: Image size
            pt_BR: Image size
            zh_Hans: 图像大小
          llm_description: ''
          max: null
          min: null
          name: size
          options:
          - icon: ''
            label:
              en_US: Auto
              ja_JP: Auto
              pt_BR: Auto
              zh_Hans: 自动
            value: auto
          - icon: ''
            label:
              en_US: Square (1024x1024)
              ja_JP: Square (1024x1024)
              pt_BR: Square (1024x1024)
              zh_Hans: 方形 (1024x1024)
            value: 1024x1024
          - icon: ''
            label:
              en_US: Portrait (1024x1536)
              ja_JP: Portrait (1024x1536)
              pt_BR: Portrait (1024x1536)
              zh_Hans: 竖屏/肖像 (1024x1536)
            value: 1024x1536
          - icon: ''
            label:
              en_US: Landscape (1536x1024)
              ja_JP: Landscape (1536x1024)
              pt_BR: Landscape (1536x1024)
              zh_Hans: 横屏/风景 (1536x1024)
            value: 1536x1024
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 1
          form: form
          human_description:
            en_US: Number of images to generate (Must be less than 10).
            ja_JP: Number of images to generate (Must be less than 10).
            pt_BR: Number of images to generate (Must be less than 10).
            zh_Hans: 要生成的图像数量（必须小于 10）。
          label:
            en_US: Number of images
            ja_JP: Number of images
            pt_BR: Number of images
            zh_Hans: 图像数量
          llm_description: ''
          max: 10
          min: 1
          name: n
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: auto
          form: form
          human_description:
            en_US: Select the image quality
            ja_JP: Select the image quality
            pt_BR: Select the image quality
            zh_Hans: 选择图像质量
          label:
            en_US: Image quality
            ja_JP: Image quality
            pt_BR: Image quality
            zh_Hans: 图像质量
          llm_description: ''
          max: null
          min: null
          name: quality
          options:
          - icon: ''
            label:
              en_US: Auto
              ja_JP: Auto
              pt_BR: Auto
              zh_Hans: 自动
            value: auto
          - icon: ''
            label:
              en_US: Low
              ja_JP: Low
              pt_BR: Low
              zh_Hans: 低
            value: low
          - icon: ''
            label:
              en_US: Medium
              ja_JP: Medium
              pt_BR: Medium
              zh_Hans: 中
            value: medium
          - icon: ''
            label:
              en_US: High
              ja_JP: High
              pt_BR: High
              zh_Hans: 高
            value: high
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: auto
          form: form
          human_description:
            en_US: Select the image background type. Transparent requires PNG or WebP
              format and works best with medium/high quality.
            ja_JP: Select the image background type. Transparent requires PNG or WebP
              format and works best with medium/high quality.
            pt_BR: Select the image background type. Transparent requires PNG or WebP
              format and works best with medium/high quality.
            zh_Hans: 选择图像背景类型。透明背景需要 PNG 或 WebP 格式，并且最适用于中/高质量。
          label:
            en_US: Background
            ja_JP: Background
            pt_BR: Background
            zh_Hans: 背景
          llm_description: ''
          max: null
          min: null
          name: background
          options:
          - icon: ''
            label:
              en_US: Auto
              ja_JP: Auto
              pt_BR: Auto
              zh_Hans: 自动
            value: auto
          - icon: ''
            label:
              en_US: Opaque
              ja_JP: Opaque
              pt_BR: Opaque
              zh_Hans: 不透明
            value: opaque
          - icon: ''
            label:
              en_US: Transparent
              ja_JP: Transparent
              pt_BR: Transparent
              zh_Hans: 透明
            value: transparent
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: auto
          form: form
          human_description:
            en_US: Select the output image format.
            ja_JP: Select the output image format.
            pt_BR: Select the output image format.
            zh_Hans: 选择输出图像格式。
          label:
            en_US: Output Format
            ja_JP: Output Format
            pt_BR: Output Format
            zh_Hans: 输出格式
          llm_description: ''
          max: null
          min: null
          name: output_format
          options:
          - icon: ''
            label:
              en_US: Auto
              ja_JP: Auto
              pt_BR: Auto
              zh_Hans: 自动
            value: auto
          - icon: ''
            label:
              en_US: PNG
              ja_JP: PNG
              pt_BR: PNG
              zh_Hans: PNG
            value: png
          - icon: ''
            label:
              en_US: JPEG
              ja_JP: JPEG
              pt_BR: JPEG
              zh_Hans: JPEG
            value: jpeg
          - icon: ''
            label:
              en_US: WebP
              ja_JP: WebP
              pt_BR: WebP
              zh_Hans: WebP
            value: webp
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 100
          form: form
          human_description:
            en_US: Set compression level (0-100) for JPEG/WebP formats.
            ja_JP: Set compression level (0-100) for JPEG/WebP formats.
            pt_BR: Set compression level (0-100) for JPEG/WebP formats.
            zh_Hans: 设置 JPEG/WebP 格式的压缩级别（0-100）。
          label:
            en_US: Output Compression
            ja_JP: Output Compression
            pt_BR: Output Compression
            zh_Hans: 输出压缩
          llm_description: ''
          max: 100
          min: 0
          name: output_compression
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: auto
          form: form
          human_description:
            en_US: Control content moderation level.
            ja_JP: Control content moderation level.
            pt_BR: Control content moderation level.
            zh_Hans: 控制内容审核级别。
          label:
            en_US: Moderation
            ja_JP: Moderation
            pt_BR: Moderation
            zh_Hans: 内容审核
          llm_description: ''
          max: null
          min: null
          name: moderation
          options:
          - icon: ''
            label:
              en_US: Auto
              ja_JP: Auto
              pt_BR: Auto
              zh_Hans: 自动
            value: auto
          - icon: ''
            label:
              en_US: Low
              ja_JP: Low
              pt_BR: Low
              zh_Hans: 低
            value: low
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          background: ''
          moderation: ''
          n: ''
          output_compression: ''
          output_format: ''
          prompt: ''
          quality: ''
          size: ''
        provider_id: langgenius/openai_tool/openai
        provider_name: langgenius/openai_tool/openai
        provider_type: builtin
        selected: false
        title: GPT Image Generate
        tool_configurations:
          background:
            type: constant
            value: auto
          moderation:
            type: constant
            value: auto
          n:
            type: constant
            value: 1
          output_compression:
            type: constant
            value: 100
          output_format:
            type: constant
            value: auto
          quality:
            type: constant
            value: high
          size:
            type: constant
            value: 1536x1024
        tool_description: GPT Image Generate (gpt-image-1) is a text to image generation
          tool
        tool_label: GPT Image Generate
        tool_name: gpt_image_generate
        tool_node_version: '2'
        tool_parameters:
          prompt:
            type: mixed
            value: 'Du bist ein meisterhafter Künstler, der die Anfragen des Benutzers
              in ästhetisch ansprechende und hochwertige Bilder verwandeln kann. Vermeide
              dabei Kitsch und versuche immer hochwertige Bilder zu erzeugen. Folgendes
              Bild sollst du erstellen:


              {{#llm.text#}}'
        type: tool
      height: 245
      id: '1760639714467'
      position:
        x: 595.5713228034817
        y: 251.5
      positionAbsolute:
        x: 595.5713228034817
        y: 251.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        author: dennis
        desc: ''
        height: 116
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Beschreibung
          anreichern. Temperatur auf 1 (Maximum), um ein möglichst kreatives Ergebnis
          zu erhalten.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 249
      height: 116
      id: '1760640349907'
      position:
        x: 314.8010251498602
        y: 120.93225259684388
      positionAbsolute:
        x: 314.8010251498602
        y: 120.93225259684388
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 249
    - data:
        author: dennis
        desc: ''
        height: 100
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Hierfür
          musste ich das Plugin \"OpenAI\" installieren und einen API-Key hinterlegen.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 256
      height: 100
      id: '1760640385129'
      position:
        x: 599.1260005465698
        y: 122.17929196261892
      positionAbsolute:
        x: 599.1260005465698
        y: 122.17929196261892
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 256
    - data:
        author: dennis
        desc: ''
        height: 116
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"Wichtig:
          Hier die \"files\" Ausgabevariable vom Bildgenerierungsschritt aufnehmen.
          Sonst sieht man am Ende das Ergebnis nicht. :-)","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"In
          den API-Aufrufen kann man es aber rausfischen, wenn man den Streaming-Modus
          verwendet und die \"node_finished\" Nachrichten abfängt.","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0,"textStyle":""}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 278
      height: 116
      id: '1760640435769'
      position:
        x: 879.3545319582504
        y: 121.84279393310916
      positionAbsolute:
        x: 879.3545319582504
        y: 121.84279393310916
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 278
    viewport:
      x: 55.91271348751843
      y: 64.90657071541995
      zoom: 0.9619274546647748
